/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #ebebeb;
  --black: #010c13;
  --onyx: #3f4045;
  --grey-web: #767c7f;
  --black-coffee: #30292f;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white); 
  z-index: -5;
  opacity: 0.5;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  z-index: -5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--black);
  min-height: 100vh;
  overflow-x: hidden;
  //width: 100vw;
}

body {
  height: calc(100vh - 8vw);
  width: 100%;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  z-index: 2;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;
}

.tmpl-post,.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;
  //width: 860px;
  width: 100vw; 
}

.main,
.inner {
  text-align: center;
  background: var(--white);
  //width: min(732px, 100%);
  //max-width: 100vw;
  margin: 0;
  padding: 32px;
  filter: drop-shadow(5px 5px 1px #ffffff77);
  z-index: 1;
}
.main {
  max-width: 40rem;
  margin-top: 4vh;
}

.wrapper {
  display: flex;
  width: 100vw;
}

.scroll {
  width: max(100%, 32px);
  z-index: 2;
}

.inner {
  position: relative;
  margin: 0;
  //max-width: 100%;
  //margin: clamp(20px, 8vw, 200px);
  //margin: 100px;
  width: 860px;
  min-width: min(860px, 80vw);
  padding: 0;
  z-index: 2;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .content pre {
    width: 100%;
    padding: 32px 32px;
  }
  p {
    padding: 0 32px;
    width: 100%; 
    text-align: left;
  }
  img {
    width: 20px;
    margin: 0 16px 0 0;
  }
  p img {
    width: min(600px, 50vw);
    height: auto;
    float: left;
  }
  .header-image {
    width: 100%;
    margin: 0;
  }
}

.parallax {
  /* Full height */
  height: 100vh;
  width: 100%;
    z-index: 2;
  > img {
    height: 100vh;
    width: calc(100vw - 10px);
    object-fit: cover;
    position: fixed;
    z-index: -1;
    overflow: hidden;
  }
  .scroll {
    height: 100vh;
    width: 100%;
  }
}

.img-container {
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
  }
}

footer {
  position: relative;
  align-self: flex-end;
  align-items: right;
  bottom: 0px;
  text-align: end;
  display: flex;
  justify-content: right;
  p {
    color: var(--grey-web);
    text-align: end;
  }
}

a {
  color: #2f6493;
  font-weight: 600;
  &:visited {
    color: #650566;
    font-weight: 800;
  }
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 64px;
  font-weight: 500;
  //margin: 0;
  margin: 56px 32px 0;
}

p, li {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  text-align: left;
}

hr {
  width: 80%;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li {
  line-height: 1.45;
}

header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.head {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  font-size: 20px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: right;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 1.5em; /* 6px /12 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
.tags {
  display: flex;
  justify-content: flex-end;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: min(12vw, 4rem);
  }
  body {
    padding: 0;
  }
  .tmpl-post {
    padding: 0;
  }
  pre {
    margin: 0;
    max-width: 100%;
  }
  .wrapper {
    width: 100vw;
  }
  .inner {
    width: 100vw;
  }
  .scroll {
    width: 0;
  }
}

