---
layout: layouts/home.njk
---
<div class='main'>
  {% set maxPosts = collections.posts.length | min(3) %}
  <h1> blogposting </h1>

  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}

</div>

<footer>
  <p> site made with <a href='https://www.11ty.dev/'> 11ty.dev </a>
</footer>
